body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(247, 242, 199);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: auto 0;

  list-style: none;
}

.Phonebook {
  width: 300px;
  margin: auto;
}
